<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>
  ABOUT
  </title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheet/mystyle.css">
</head>
<body>
<div>
<% include navigation/header.ejs %>
</div>
<div>
<% include navigation/user-navigation.ejs %>
</div>
<% include navigation/site-navigation.ejs %>

<div>
  <aside>
     <div class ="about_div">
     <h2> WE’VE EVOLVED SINCE OUR START IN 1999, BUT OUR CULTURE HAS STAYED STRONG </h2>
      <div class="footer_div">

      <br>
      <h3> WE MELD WORK AND LIFE </h3>
      <p>We want our employees to work on themselves—on their bodies, on their families, on their careers. It’s all a part of our mission to help everyone become healthier and be better parents, partners, and people.</p>

      <h4> THESE CORE VALUES UNITE US AND REMIND US WHAT'S IMPORTANT </h4>
      <ul>
      <li>ALWAYS BE TRUTHFUL AND HONEST IN EVERY ASPECT OF BUSINESS </li>
      <li>GIVE BACK TO THE PEOPLE TO WHOM YOU OWE YOUR SUCCESS </li>
      <li>SETTING GOALS CREATES THE ROADMAP TO POSITIVE GAINS </li>
      <li>GREAT THINGS WILL HAPPEN WITH A PASSION FOR COMPETITION </li>
      <li>IT’S OUR GOAL TO MAKE THE BIG IDEA BIGGER </li>

      </ul>
    </div>
  </div>
      <div class="footer_img">
        <img src="assets/images/work_harder_1.jpg" alt="work harder">
      </div>


  </aside>
</div>
      <% include navigation/footer.ejs %>
</body>
</html>
