<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>
  Contact
  </title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheet/mystyle.css">
</head>
<body>
<div>
<% include navigation/header.ejs %>
</div>
<div>
<% include navigation/user-navigation.ejs %>
</div>
<% include navigation/site-navigation.ejs %>
<div>
    <aside>
    <div class="home_container">
    <img class="home_wal_image" src="../assets/images/topbar/fitback.jpg" alt="">
    <div class="home_text">
    <h2> Contact Us </h2>
    <br>
    <p> Get answers to your questions and share your knowledge with other customers. </p>
    <br>
    <p> Chat - We are online 24/7 </p>
    <a href="#"> Chat with Us </a>

    <br>
      <br>


    <p> Call Now </p>
    <p> 704-706-XXXX </p>
  <br>
    <p> Postal Mail : fitness_contact@fitness.com </p>
    <br>
    <p> When mailing to us, please include </p>
    <ul>
      <li>Customer name</li>
      <li>Telephone Number</li>
      <li>Account Number</li>
    </ul>
    </div>
    </div>
    </aside>
</div>
      <% include navigation/footer.ejs %>
</body>
</html>
